body {
  color: hsl(300, 43%, 22%);
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
}

h1 {
  font-weight: bold;
}

p {
  color: hsl(303, 10%, 53%);
  font-weight: 500;
}

.card {
  border-radius: 7px;
  border-style: none;
  margin: 10px;
}

/* Margin for tablets, phones 992px and down */
@media (max-width: 992px) {
  .testimonial-section {
    margin: 3.5rem 1rem;
  }

  body {
    text-align: center;
  }
}

/* Larger margin for desktops 992px and up */
@media (min-width: 992px) {
  .testimonial-section {
    margin: 4.5rem;
  }
  
  .card {
    margin: 0;
  }
}

/* Star ratings block */
.star-card {
  background-color: hsl(300, 24%, 96%);
  border-radius: 10px;
  margin: 15px;
}

/* Larger margin for desktops 992px and up */
@media (min-width:992px) {
  .card-1 {
    margin-right: 100px;
  }
  .card-2 {
    margin-left: 50px;
    margin-right: 50px;
  }
  .card-3 {
    margin-left: 100px;
    margin-right: 0;
  }
}

.star-text {
  font-weight: bold;
  padding: 15px 5px;
}

.star-images {
  padding: 0 25px 0;
}

.star {
  margin: 16px 2px 0;
}

/* Testimonials blocks */
.testimonial-row {
  margin-top: 2rem;
}

.testimonial-card {
  /* background-color: hsl(300, 43%, 22%); */
  color: #fff;
  font-size: 13px;
  /* padding: 30px; */
}

.t-card-style {
  background-color: hsl(300, 43%, 22%);
  border-radius: 10px;
  padding: 30px;
}

/* customer block contains image, name and buyer status */
.customer-block {
  padding-bottom: 25px;
}

.customer-img {
  border-radius: 100%;
  width: 40px;
}

.customer-text {
  text-align: left;
}

.customer-name {
  font-weight: bold;
}

.customer-type {
  color: hsl(333, 80%, 67%);
}

.customer-quote {
  color: #fde0fe;
  font-weight: 400;
}
